body{
    margin: 0px;
    background-color: rgb(159, 255, 147);
}

.container{
    text-align: center;

}

h1{
    font-size: 6rem;
}

h2{
    font-size: 3rem;
}

.keys{
    width: 10rem;
    height: 10rem;
    margin: 3%;
    display: inline-block;
    background-color: rgb(255, 240, 240);
    border-radius: 10px;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
    
}

.keys:hover{
    box-shadow: 0px 10px 20px 5px rgba(25, 5, 255, 0.5);
    transform: translateY(-5px);
}

footer{
    margin-top: 5%;
    font-size: 1.5rem;
}